.container-header{
    display: block;
    text-align: center;
}

.container-resetpass{
    margin-left: 30px;
    margin-right: 30px;
}

.titulo-header1{
    margin-top: 30px;
    margin-bottom: 30px;
}

#Logo1{
    width: 70%;
}

.box-reset{
    background: #662F82;
    box-shadow: 4px 4px 10px rgb(102 47 130);
    border-radius: 37px;
    width: 300px;
    height: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.top-reset{
    color: #E8E3E7;
    text-align: center;
    font-weight: normal;
    font-size: 20px;
    margin-bottom: 10px;
}

.top-reset1{
    color: #E8E3E7;
    text-align: center;
    font-weight: normal;
    font-size: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    line-height: 20px;
}

.input-email{
    text-align: center;
    margin-top: 10px;
}

.input-email2{
    width: auto;
    border: none;
    border-radius: 8px;
    padding: 10px;
    background: white;
    color: #361646;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
}

.button-email{
    text-align: center;
}

.align-button{
    text-align: center;
    margin: 10px;
}

.button-email{
    width: auto;
    padding: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 8px;
    font-weight: bolder;
    color: #2b134b;
    background: #44FFD1;
    cursor: pointer;
}

.msgReset{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    line-height: 20px;
}

@media screen and (min-width: 768px) {
    #Logo1{
        width: 50%;
    }
}

@media screen and (min-width: 1024px) {
    #Logo1{
        width: 25%;
    }
}